name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-RunnerDub-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World!"
      - run: sleep 18
  Hello-New-Job:
    runs-on:
      - codebuild-CustomImage5678-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello New World 1!"
      - run: "ls "
