name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-GitHubRunner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World!"
  Hello-New-Job:
    runs-on:
      - codebuild-GitHubRunner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello New World!"
      - run: "ls -ltr"
